//Efeito de Hover nos links de categorias
.effect-bg-sature {
    @include transition(all ease .3s);
    &:hover {
        @include filter(saturate(170%));
    }
}
//Banner Responsivo
.responsive-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    a {
        display: block;
    }
    img {
        position: relative;
        left: 50%;
        display: block;
        max-width: inherit;
        @include transform(translate(-50%, 0));
        .no-csstransforms & {
            left: auto;
        }
        @media (max-width: 992px) {
            width: 155%;
            max-width: none!important;
        }
    }
}
//Lista de endereço e telefone
.address-list {
    li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 35px;
        i {
            font-size: 20px;
            position: absolute;
            top: -3px;
            left: 0;
            color: $color-1;
        }
        &.address-list__tel {
            font-size: 14px;
            font-weight: 600;
        }
    }
}
//Título personalizado
.page__title-box {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 1px solid $color-1;
    .page__title {
        font-size: 18px;
        font-weight: 600;
        position: relative;
        bottom: -9px;
        display: inline-block;
        margin: 0;
        padding: 0 10px 0 0;
        text-transform: uppercase;
        color: $color-1;
        background: #fff;
    }
}
.page__desc {
    margin-bottom: 40px;
}
//Redes Sociais
.social {
    margin: 15px 0 0;
    @media #{$min-md} {
        float: right;
    }
    .social-heading {
        font-weight: 700;
        margin-right: 10px;
        text-transform: uppercase;
    }
    li {
        display: inline-block;
        margin-right: 5px;
        a {
            &:hover {
                i {
                    color: $color-1;
                }
            }
        }
        i {
            font-size: 24px;
        }
    }
}
//Bloco de Atendimento
.attendance {
    margin-bottom: 40px;
    .address-list li {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        &:first-child {
            font-size: 16px;
            font-weight: 700;
            i {
                font-size: 20px;
                position: absolute;
                top: -3px;
                left: 0;
            }
        }
    }
    .attendance__title {
        font-size: 13px;
        font-weight: 400;
    }
    .address-list {
        margin: 0;
    }
    .social {
        float: none;
        margin: 0 0 40px;
        li {
            &:first-child {
                font-weight: 400;
                display: block;
                margin-bottom: 5px;
            }
        }
    }
}
.parsley-errors-list {
    font-size: 11px;
    margin: -5px 0 0;
    color: $color-1;
}
.form-action {
    margin-top: 20px;
}
.breadcrumbs {
    margin: 0 0 10px;
    > li {
        font-size: 12px;
        display: inline-block;
        &:last-child {
            font-weight: 600;
            &:after {
                content: '';
            }
        }
        &:after {
            padding: 0 2px 0 7px;
            content: '/';
        }
        a {
            font-size: 12px;
            &:hover {
                @extend .link;
            }
        }
    }
}
.pagination {
    float: right;
    margin: 0 0 10px;
    li {
        font-size: inherit;
        line-height: 1.6;
        padding: 0;
        border-radius: 50%;
        a {
            font-size: 12px;
            font-weight: 400;
            display: inline-block;
            width: 20px;
            height: 20px;
        }
        i {
            font-size: 20px;
            line-height: inherit;
            &:before {
                font-size: 20px;
            }
        }
    }
}
//Menu sanfona em produtos
.collapsible-custom {
    padding: 0;
    color: #fff;
    li {
        margin-bottom: 5px;
    }
    &.collapsible {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .collapsible-header {
        line-height: 1.3;
        min-height: 20px;
        padding: 6px 15px;
        border-radius: 20px;
        &:hover {
            @include filter(saturate(150%));
        }
    }
    .collapsible-body {
        margin: 0;
        padding: 10px 15px;
        border-bottom: none;
        li {
            display: block;
            margin-bottom: 10px;
            a {
                display: block;
                @include transition();
                &:hover {
                    text-indent: 5px;
                }
            }
        }
    }
}
//Matéria Prima
.filter-feedstock {
    li {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            &:hover {
                color: $color-1;
            }
        }
    }
    .feedstock {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.8;
        display: inline-block;
        width: 24px;
        height: 24px;
        padding: 2px;
        text-indent: 3px;
        color: #fff;
        border-radius: 50%;
        background: #666;
    }
}
