//Efeito de Hover nos links de categorias
.effect-bg-sature {
    @include transition(all ease .3s);
    &:hover {
        @include filter(saturate(170%));
    }
}

//Banner Responsivo
.responsive-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    a {
        display: block;
    }
    img {
        position: relative;
        left: 50%;
        display: block;
        max-width: inherit;
        @include transform(translate(-50%, 0));
        .no-csstransforms & {
            left: auto;
        }
        @media (max-width: 992px) {
            width: 155%;
            max-width: none!important;
        }
    }
}

//Redes Sociais
.social {
    margin: 15px 0 0;
    @include min-md {
        float: right;
    }
    .social-heading {
        font-weight: 700;
        margin-right: 10px;
        text-transform: uppercase;
    }
    li {
        display: inline-block;
        margin-right: 5px;
        a {
            &:hover {
                i {
                    color: $color-1;
                }
            }
        }
        i {
            font-size: 24px;
        }
    }
}

//Facebook Custom Page
.custom-face-page {
    position: relative;
    padding-left: 80px;
    @include min-lg {
        float: right;
    }
    i {
        position: absolute;
        top: 3px;
        left: 0;
    }
    .custom-face-page__head {
        margin-bottom: 10px;
    }
    .custom-face-page__title {
        font-size: 22px;
        display: inline-block;
        color: #fff;
    }
    .custom-face-page__like-btn {
        display: inline-block;
        overflow: hidden;
        width: 60px;
        margin-left: 10px;
    }
    .custom-face-page__fb-page {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 406px;
        height: 32px;
        .fb-page {
            position: absolute;
            top: -105px;
            left: -17px;
            overflow: hidden;
            width: 456px;
        }
    }
}
