.footer-container {
    padding: 60px 0;
    background: $color-1;
    color: #fff;
}
.footer-bottom-container {
    padding: 10px 0;
    background: #222;
}

.footer {
    .copyrights {
        font-size: 12px;
        margin: 2px 0 0;
        opacity: .8;
        color: #fff;
        text-shadow: 0 -1px 0 #111;
        @include max-sm {
            margin: 10px 0;
            @include center();
        }
    }
    .nueva {
        position: relative;
        display: table;
        width: 165px;
        margin: 0 auto;
        opacity: .7;
        @include transition();
        @include min-md {
            float: right;
        }
        img {
            float: right;
            width: 60px;
        }
        &:before {
            font-family: verdana;
            font-size: 11px;
            position: absolute;
            top: 4px;
            left: 0;
            content: 'Desenvolvido por';
            text-transform: lowercase;
            color: #fff;
        }
        &:hover {
            opacity: 1;
        }
    }
}
