/* Header */
.header-container {
    position: relative;
    z-index: 10;
    min-height: 80px;
    padding: 20px 0;
    color: #FFF;
    background: #222;
    @include min-md {
        border-top: inherit;
       
    }
}
.header {
    position: relative;
    .button-collapse {
        font-size: 28px;
        position: relative;
        top: 5px;
        float: right;
        color: #222;
        @include min-md {
            color: #fff;
        }
    }
}
.header__logo-container {
    margin: 0;
    @include min-md {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        display: inline-block;
        width: 250px;
        height: 145px;
        margin: 0;
        padding: 30px 0 0;
        text-align: center;
        background: url('../images/logo-container.png') no-repeat;
    }
}

.main-menu {
    float: right;
    
    > li {
        display: inline-block;
        margin: 0 10px;
    }
}