.side-nav {
    display: none;
    .side-nav-logo {
        margin: 20px auto;
        display: table;
    }
    .side-nav__box {
        padding: 20px;
    }
}


/* Left Navigation
-----------------------------------------------*/

.menu-mobile {
    background: #f0f0f0;
    width: 100%;
    border-bottom: 1px solid #ddd;
    .menu-mobile__sub {
        line-height: 50px;
        padding-left: 20px;
    }
    ul {
        border-bottom: 0;
        background: #f0f0f0;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            border-top: 1px solid #ddd;
            a {
                display: block;
                line-height: normal;
                padding: 15px 20px;
                background: #eee;
                color: #333;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        ul {
            li {
                border-color: #111;
                a {
                    background: #222;
                    color: #ccc;
                    padding-left: 20px;
                }
                ul {
                    li {
                        border-color: #333;
                        a {
                            background: #444;
                            color: #ccc;
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
}

.accordion-btn-wrap {
    line-height: 50px;
}

ul {
    li {
        &.has-subnav {
            .accordion-btn {
                color: #999;
                background: #ddd;
                font-size: 22px;
                line-height: 50px;
                display: block;
            }
        }
    }
}

// @media screen and (max-width: 1024px) {
//  .menu-mobile {width: 40%;}
// }
// @media screen and (max-width: 700px) {
//  .menu-mobile {width: 100%;}
// }
