.home {
    .slider-home-container {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        @include min-md {
            margin-bottom: 40px;
            border-bottom: 2px solid $color-1;
            background: #111;
        }
    }
    .slider-home {
        position: relative;
        overflow: hidden;
        max-height: 515px;
        margin-bottom: 0!important;
        .slider-inner {
            position: relative;
            left: 50%;
            display: block;
            max-width: 1440px;
            transform: translate(-50%, 0);
            img {
                display: block;
            }
            @media (max-width: 1440px) {
                width: 146%;
            }
        }
        .slick-list {
            padding: 0;
        }
        .container {
            position: relative;
            .slick-dots {
                position: absolute;
                right: 0;
                bottom: 30px;
                width: auto;
                /* li {
                    width: inherit;
                    height: inherit;
                    margin: 0 4px;
                    button {
                    width: 16px;
                    height: 16px;
                    border: solid 1px #222;
                    -webkit-border-radius: 20px;
                    border-radius: 20px;
                    background: #d0d2d3;
                    }
                    }
                    .slick-active {
                    button {
                    background: $color-1;
                    }
                } */
            }
        }
    }
}
.icon-nueva {
    //@include sprite($icon-nueva);
}
