/* Left Navigation
-----------------------------------------------*/

.menu-mobile {
    background: #f0f0f0;
    width: 100%;
    border-bottom: 1px solid #ddd;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        //border-bottom: 1px solid #ccc;
        li {
            border-top: 1px solid #ddd;
            a {
                display: block;
                line-height: normal;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        ul {
            border-bottom: 0;
            background: #f0f0f0;
            li {
                border-top: 1px solid #ddd;
                a {
                    display: block;
                    line-height: normal;
                    padding-left: 30px;
                    background: #fbfbfb;
                }
            }
            ul {
                li {
                    border-color: #111;
                    a {
                        background: #222;
                        color: #ccc;
                        padding-left: 40px;
                    }
                }
            }
        }
    }
}

.accordion-btn-wrap {
    line-height: 57px;
}

ul {
    li {
        &.has-subnav {
            .accordion-btn {
                color: #999;
                background: #ddd;
                font-size: 22px;
                line-height: 57px;
                display: block;
            }
        }
    }
}

// @media screen and (max-width: 1024px) {
// 	.menu-mobile {width: 40%;}
// }
// @media screen and (max-width: 700px) {
// 	.menu-mobile {width: 100%;}
// }
