.g-recaptcha {
    margin-bottom: 10px;
}

.contact {

    &__heading-text {
        margin-bottom: 20px;
    }
    .main {
        @extend .section;
    }

    .contact-info {
        max-width: 360px;
        &__item {
            margin-bottom: 40px;
        }
    }

    &-form {
        &-container {
            background: $color-2; 
            padding: 20px;
        }
    }
}

#map {
    display: block;
    width: 100%;
    height: 500px;
}

