.home {
    .main {
        @extend .bg-faded;
    }
    .slider-home-container {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        @include min-md {
            margin-bottom: 40px;
            border-bottom: 2px solid $color-1;
            background: #111;
        }
    }

    &-clients {
        @extend .section;
        &-title {
            font-size: 30px;
            color: color-1;
            font-weight: 700;
            margin-bottom: 20px;
            text-align: center; 
        }
    }
    
    .clientsCarousel {
        @extend .slick-skin-2;
        &__item {
            padding: 15px;
        }
    }
}