.SlideContent {
	margin: 0 auto; 
	&-title {
		margin-bottom: 15px;
		padding-bottom: 10px;
		font-weight: 600; 
		border-bottom: 1px solid #ccc;
		@extend %title-dot; 
	}
	&-infobox {
		margin-bottom: 20px;
	}
}