.products {
    &-list {
        margin: 0 auto;
        &__item {
            border-bottom: 1px solid #ddd;
            padding: 30px 0;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}