.product {
	&-title {
		@extend .display-4;
	}
    &-desc {
        padding-top: 10px;
        &__item {
            margin-bottom: 30px;
        }
    }

    &-related {
    	&__title {
    		color: $color-2;
    		font-weight: 700;
    		margin-bottom: 20px;  
    	}
    }
}